<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Création Grille de Compétences d'APP</title>
		<script src="./../js/ajout_champ.js"> </script>
	</head>
	<body>
		<div id="wrapper" class="container">
			<div id="page-wrapper" style="min-height: 683px;">
				<div class="row">
				
					<div class="col-lg-12">
						<h1 class="page-header">Création Grille de Compétences d'APP</h1>
					</div>
					
					<div class="col-lg-12">
						<div class="panel panel-primary">
							<div class="panel-heading">Création de la grille et des compétences associées</div>
							<div class="panel-body">
								<div>
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="grille">
											<div class="container" style="margin-top: 30px;">
												<form method="POST" action="" class="form-horizontal">
													<div class="form-group">
														<div id="champ_1">
															<input type="text" name="tab1[]" value="compétence"/>
															<input type="text" name="tab1[]" value="coef"/>
															<input type="text" name="tab1[]" value="description"/>
														</div>
														<div class="fields"></div>
													</div>
												</form>
												<button type="button" onclick="addField('tab1[]',champ_1)" >+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	</body>
</html>