<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">

<link href="../css/choixGroupe.css" rel="stylesheet">

<title>Choix du groupe</title>
</head>
<body>

	<nav></nav>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-xs-4 "><p class="text-center">Promotions</p></th>
					<th class="col-xs-4 "><p class="text-center">Groupes</p></th>
					<th class="col-xs-4 "><p class="text-center">Sous-Groupes</p></th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td class="col-xs-4 list_full" style="padding: 0px;">
						<!-- style="padding:0px;" -->
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2016">2016</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2017">2017</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2018">2018</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
					</td>



					<td class="col-xs-4 list_full" style="padding: 0px;">
							<div data-toggle-element-promid="2018">
								<div class="list-group-item fullButton">
									<button type="button" class="list-group-item bigButton unselected"
										data-groupeid="1">G1</button>
									<button class="glyphicon glyphicon-menu-right"
										aria-hidden="true" data-toggleStudent></button>
								</div>
								<div class="list-group-item fullButton allStudent "
									data-toggleStudent-element>
									<button type="button" class="list-group-item student">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
								</div>
							</div>
							<div data-toggle-element-promid="2018">
								<div class="list-group-item fullButton">
									<button type="button" class="list-group-item bigButton unselected"
										data-groupeid="2">G2</button>
									<button class="glyphicon glyphicon-menu-right"
										aria-hidden="true" data-toggleStudent></button>
								</div>
								<div class="list-group-item fullButton allStudent "
									data-toggleStudent-element>
									<button type="button" class="list-group-item student">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
								</div>
							</div>
						</div>
					</td>




					<td class="col-xs-4 list_full" style="padding: 0px;">
						<div data-toggle-element-groupeid="1" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G1A</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="1" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G1B</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="2" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G2A</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="2" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G2B</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
				</tr>

			</tbody>
		</table>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../js/choixGroupe.js"></script>



</body>
</html>