<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<title>Choix du groupe</title>
<style type="text/css">

thead th {
	background-color: #337ab7;
	color: white;
	text-align: center;
	height: 6em;
}

.list_full {
	padding: 0px; /*unrecognized => in div */
	height: 100vh;
}

.glyphicon {
	float: right;
	display: block;
	position: absolute;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 60%;
	top: 20%;
	right: 5px;
	z-index: 1;
	border-top-right-radius: 4px;
}

.bigButton {
	height: 100%; 
	z-index: 0;
	width: 100%; 

}

.list-group-item:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.list-group-item:last-child {
	margin-bottom: 0;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.list-group-item {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.fullButton {
	padding: 0px;
	white-space: nowrap;
}

.diebootstrapdie {
	position: absolute;
	visibility: hidden;
	margin: 0px;
	width: 0px;
	height: 0px;
}

.diebootstrapdiedie {
	padding-left: 30px;
}

.allStudent {
	
}

.student {
	font-size: 0.6em;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #eee;
}

button.list-group-item:focus.selected {
	color: #555;
	text-decoration: none;
	background-color: orange;
}

button.list-group-item:focus.unselected {
	color: #555;
	text-decoration: none;
}

.selected {
	background-color: orange;
}

.unselected {
	
}

</style>



</head>
<body>

	<nav></nav>
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th class="col-xs-4 "><p class="text-center">Promotions</p></th>
					<th class="col-xs-4 "><p class="text-center">Groupes</p></th>
					<th class="col-xs-4 "><p class="text-center">Sous-Groupes</p></th>
				</tr>
			</thead>
			<tbody>

				<tr>
					<td class="col-xs-4 list_full" style="padding: 0px;">
						<!-- style="padding:0px;" -->
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2016">2016</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2017">2017</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2018">2018</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2019">2019</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
						<div class="list-group-item fullButton">
							<button type="button"
								class="list-group-item bigButton diebootstrapdiedie  unselected"
								data-promid="2020">2020</button>
							<button type="button" class="diebootstrapdie"></button>

						</div>
					</td>



					<td class="col-xs-4 list_full" style="padding: 0px;">
							<div data-toggle-element-promid="2018">
								<div class="list-group-item fullButton">
									<button type="button" class="list-group-item bigButton unselected"
										data-groupeid="1">G1</button>
									<button class="glyphicon glyphicon-menu-right"
										aria-hidden="true" data-toggleStudent></button>
								</div>
								<div class="list-group-item fullButton allStudent "
									data-toggleStudent-element>
									<button type="button" class="list-group-item student">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
								</div>
							</div>
							<div data-toggle-element-promid="2018">
								<div class="list-group-item fullButton">
									<button type="button" class="list-group-item bigButton unselected"
										data-groupeid="2">G2</button>
									<button class="glyphicon glyphicon-menu-right"
										aria-hidden="true" data-toggleStudent></button>
								</div>
								<div class="list-group-item fullButton allStudent "
									data-toggleStudent-element>
									<button type="button" class="list-group-item student">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
									<button type="button" class="list-group-item student ">
										eleve</button>
								</div>
							</div>
						</div>
					</td>




					<td class="col-xs-4 list_full" style="padding: 0px;">
						<div data-toggle-element-groupeid="1" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G1A</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="1" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G1B</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="2" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G2A</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
						<div data-toggle-element-groupeid="2" data-toggle-element2-promid="2018">
							<div class="list-group-item fullButton">
								<button type="button" class="list-group-item bigButton">
									G2B</button>
								<!-- 		<button id="g1" class="glyphicon glyphicon-menu-up"
									aria-hidden="true"></button> -->
								<button class="glyphicon glyphicon-menu-right"
									aria-hidden="true" data-toggleStudent></button>
							</div>
							<div class="list-group-item fullButton allStudent "
								data-toggleStudent-element>
								<!-- data-toggleStudent-element-groupeid="2" -->
								<button type="button" class="list-group-item student">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<button type="button" class="list-group-item student ">
									eleve</button>
								<!-- <button id="g1" class="glyphicon glyphicon-menu-right" aria-hidden="true"></button> -->
							</div>
						</div>
				</tr>

			</tbody>
		</table>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
	
		/**
		 * toggle on load
		 */
		$(document).ready(function() {
			$("[data-toggleStudent-element]").slideToggle();
			$('[data-toggle-element-promid]').hide(); 
			$('[data-toggle-element-groupeid]').hide(); 
		 });

		/**
		 * function to toggle student
		 */
		$("[data-toggleStudent]").click(function(){
		//	console.log($(this).data('groupeid'));
			$(this).parent().parent().children("[data-toggleStudent-element]").slideToggle();
			$(this).toggleClass('glyphicon-triangle-bottom glyphicon-menu-right');
		}); 

		/**
		 * function to toggle group
		 */
		$("[data-groupeid]").click(function(){    
			$('[data-toggle-element-groupeid="'+$(this).data('groupeid')+'"]').slideToggle();    
			$(this).toggleClass('selected unselected');
		}); 

		/**
		 * function to toggle prom
		 */
		$("[data-promid]").click(function(){    
			$(this).toggleClass('selected unselected');
			$('[data-toggle-element-promid="'+$(this).data('promid')+'"]').slideToggle(); 
			$('[data-toggle-element2-promid="'+$(this).data('promid')+'"]').hide(); 
		}); 
	
	</script>



</body>
</html>