<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Création Grille de Compétences d'APP</title>
		<script type="text/javascript">
			$('#myTabs a').click(function (e) {
				  e.preventDefault()
				  $(this).tab('show')
				})
			$('#myTabs a[href="#vue_ensemble"]').tab('show') // Select tab by name
			$('#myTabs a:first').tab('show') // Select first tab
			$('#myTabs a:last').tab('show') // Select last tab
			$('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)
			
			function addField(){
			    var field = "<div class='col-sm-6'>"	
			    +"<div class='input-group'>"
			    +"<input name='champ' type='text' class='form-control' id='nom_grille' placeholder='Nom de la compétence'>"
			    +"<div class='input-group-addon'>.coef</div>"
			    +"<input type='text' class='form-control' placeholder='Coefficient de la compétence'>"
			    +"</div></div>";
			    document.getElementById('fields').innerHTML += field;
			}
		</script>
	</head>
	<body>
		
		<div id="wrapper" class="container">
			
			<div id="page-wrapper" style="min-height: 683px;">
				
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">Création Grille de Compétences d'APP</h1>
					</div>
				</div>
				
				<div class="col-lg-12">
					<div class="panel panel-primary">
						<div class="panel-heading">
							Création de la grille
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
						
							<div>

							  <!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
							   <li role="presentation" class="active"><a href="#grille" aria-controls="grille" role="tab" data-toggle="tab">La Grille</a></li>
						    </ul>
							
							  <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="grille">
							    	<div class="container" style="margin-top: 30px;">
							    		<form class="form-horizontal">
								  			<div class="form-group">
										    	<label for="nom_grille" class="col-sm-2 control-label">Nom de la Grille</label>
											    <div class="col-sm-6">
											      <input type="text" class="form-control" id="nom_grille" placeholder="Grille d'APP ...">
											    </div>
										  	</div>
										  	<div class="form-group">
										    	<label for="nom_grille" class="col-sm-2 control-label">Compétences à évaluer</label>
												
										    	<div class="form-vertical">
										    		<div id="fields">
												    	<div class="col-sm-6">
												      		<div class="input-group">
																<input name="champ" type="text" class="form-control" id="nom_grille" placeholder="Nom de la compétence">
																<div class="input-group-addon">.coef</div>
																<input type="text" class="form-control" placeholder="Coefficient de la compétence">
															</div>
											      		</div>
												    </div>
											    </div>
											    
											    <input type="button" value="+" onClick="addField();">
										  	</div>
										  
										  <div class="form-group">
										    <div class="col-sm-offset-2 col-sm-10">
										      <a  href="creation_competences.html"><button type="button" class="btn btn-default">Enregistrer</button></a>
										    </div>
										  </div>
										</form>
							    	</div>
							    </div>
							    
							 
							  </div>
							
							</div>
														
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>