<!DOCTYPE html>
<html lang="fr">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="./../css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom CSS -->
    <link href="./../css/sb-admin-2.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="./../ressources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<!-- NavBar -->
	<div class="col-md-2 col-sm-2">
	</div>
        
        
	<!-- tableau -->
	<div class="col-sm-10">
	
			<table class="table table-striped">
				<thead>
					<tr class="table-info"> <h3><font> N°Compétance - Détails de la compétance</font></h3></tr>
				</thead>
				<tbody>
					<tr style="color:#3361FF;">
						<td>Sous-Compétances</td>
						<td>Observation sur l'équipe</td>
						<td>Observation individuelles</td>
						<td>Niveau Individuel</td>
						<td>Etudiant</td>
					</tr>
					<tr>
						<td rowspan="4" style="background-color:#3361FF;color:#FFFFFF"><p class="text-center">Nom Sous Competance</p></td>
<!-- Observation de l'équipe -->
						<td rowspan="5">
							<div>
							    <textarea id="#" placeholder="write here the evaluation of the team" rows="5"></textarea>
							</div>
						</td>
<!-- Observation d'un élève -->
						<td>
							<div>
							    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
							</div>
						</td>
<!-- Niveau individuel -->
						<td>
							<div class="btn-group bootstrap-select open">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#3361FF;"> </div>
								<select class="selectpicker" >
									<option>Non assigné</option>
									<option>Au dela</option>
									<option>Attendu</option>
									<option>Très proche</option>
									<option>Proche</option>
									<option>Loin</option>
								</select>	
							</div>
						</td>
<!-- Etudiant -->
						<td class="col-md-2" style="border-top:none;">
							<img src="https://s-media-cache-ak0.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18.jpg" class="img-responsive img-thumbail" alt="photo identité" style="width: 30%; height: auto;">
							<label>Nom - Prenom</label>
						</td>
					</tr>
<!-- Observation d'un élève -->
					<tr>
						<td>
							<div>
							    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
							</div>
						</td>
<!-- Niveau individuel -->
						<td>
							<div class="btn-group bootstrap-select open">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#3361FF;"> </div>
								<select class="selectpicker" >
									<option>Non assigné</option>
									<option>Au dela</option>
									<option>Attendu</option>
									<option>Très proche</option>
									<option>Proche</option>
									<option>Loin</option>
								</select>	
							</div>
						</td>
<!-- Etudiant -->
						<td class="col-md-2" style="border-top:none;">
							<img src="https://s-media-cache-ak0.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18.jpg" class="img-responsive img-thumbail" alt="photo identité" style="width: 30%; height: auto;">
							<label>Nom - Prenom</label>
						</td>					
					</tr>
<!-- Observation d'un élève -->
					<tr>
						<td>
							<div>
							    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
							</div>
						</td>
<!-- Niveau individuel -->
						<td>
							<div class="btn-group bootstrap-select open">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#3361FF;"> </div>
								<select class="selectpicker" >
									<option>Non assigné</option>
									<option>Au dela</option>
									<option>Attendu</option>
									<option>Très proche</option>
									<option>Proche</option>
									<option>Loin</option>
								</select>	
							</div>
						</td>
<!-- Etudiant -->
						<td class="col-md-2" style="border-top:none;">
							<img src="https://s-media-cache-ak0.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18.jpg" class="img-responsive img-thumbail" alt="photo identité" style="width: 30%; height: auto;">
							<label>Nom - Prenom</label>
						</td>			
					</tr>
					<tr>
<!-- Observation d'un élève -->
						<td>
							<div>
							    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
							</div>
						</td>
<!-- Niveau individuel -->
						<td>
							<div class="btn-group bootstrap-select open">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#3361FF;"> </div>
								<select class="selectpicker" >
									<option>Non assigné</option>
									<option>Au dela</option>
									<option>Attendu</option>
									<option>Très proche</option>
									<option>Proche</option>
									<option>Loin</option>
								</select>	
							</div>
						</td>
<!-- Etudiant -->
						<td class="col-md-2" style="border-top:none;">
							<img src="https://s-media-cache-ak0.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18.jpg" class="img-responsive img-thumbail" alt="photo identité" style="width: 30%; height: auto;">
							<label>Nom - Prenom</label>
						</td>			
					</tr>
					<tr>
<!-- dropdown button -->
						<td>
							<a data-toggle="collapse" href="#collapse1"><span class="fa fa-angle-double-down pull-right"></span></a>
						</td>
<!-- end of dropdown button -->
						<td>
							<div>
							    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
							</div>
						</td>
<td>
							<div class="btn-group bootstrap-select open">
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="background-color:#3361FF;"> </div>
								<select class="selectpicker" >
									<option>Non assigné</option>
									<option>Au dela</option>
									<option>Attendu</option>
									<option>Très proche</option>
									<option>Proche</option>
									<option>Loin</option>
								</select>	
							</div>
						</td>
<!-- Etudiant -->
						<td class="col-md-2" style="border-top:none;">
							<img src="https://s-media-cache-ak0.pinimg.com/736x/cd/90/d9/cd90d9de63fa2c8e5c5e7117e27b5c18.jpg" class="img-responsive img-thumbail" alt="photo identité" style="width: 30%; height: auto;">
							<label>Nom - Prenom</label>
						</td>			
					</tr>
				</tbody>
			</table>
<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->		
<!-- the dropdown button open this part -->
			<div>
			  <div class="panel-group">
			    <div class="panel panel-default">
			      <div id="collapse1" class="panel-collapse collapse">
			        <div class="panel panel-default">
						<div class="panel-heading">Point 1 <br/> ex: ecouter et se faire ecouter</div>
						<table class="table">
							<tbody>
								<tr>
									<td>détail du point <br/> ex: être disposé à l'écoute</td>
<!-- Observation de l'équipe -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of the team" rows="2"></textarea>
										</div>
									</td>

<!-- Observation d'un élève -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
										</div>
									</td>
<!-- Niveau individuel -->
									<td>
										<div class="btn-group bootstrap-select open">
											<select class="selectpicker" >
												<option>Non assigné</option>
												<option>Acquis</option>
												<option>Non acquis</option>
											</select>
										</div>			
									</td>
									<td>Etudiant</td>
								</tr>
								<tr>
									<td>détail du point <br/> ex: admetre que l'autre peut avoir raison</td>
<!-- Observation de l'équipe -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of the team" rows="2"></textarea>
										</div>
									</td>

<!-- Observation d'un élève -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
										</div>
									</td>
<!-- Niveau individuel -->
									<td>
										<div class="btn-group bootstrap-select open">
											<select class="selectpicker" >
												<option>Non assigné</option>
												<option>Acquis</option>
												<option>Non acquis</option>
											</select>
										</div>
									</td>
									<td>Etudiant</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Point 2 <br/> ex: dialoguer argumenter et convaincre</div>
					    <table class="table">
							<tbody>
								<tr>
									<td>détail du point <br/> ex: savoir réunir les conditions d'un dialogue</td>
<!-- Observation de l'équipe -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of the team" rows="2"></textarea>
										</div>
									</td>

<!-- Observation d'un élève -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
										</div>
									</td>
<!-- Niveau individuel -->
									<td>
										<div class="btn-group bootstrap-select open">
											<select class="selectpicker" >
												<option>Non assigné</option>
												<option>Acquis</option>
												<option>Non acquis</option>
											</select>
										</div>
									</td>
									<td>Etudiant</td>
								</tr>
								<tr>
									<td>détail du point <br/> ex: avancer des arguments convaicants</td>
<!-- Observation de l'équipe -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of the team" rows="2"></textarea>
										</div>
									</td>

<!-- Observation d'un élève -->
									<td>
										<div>
										    <textarea id="#" placeholder="write here the evaluation of Eleve 1" rows="2"></textarea>
										</div>
									</td>
<!-- Niveau individuel -->
									<td>
										<div class="btn-group bootstrap-select open">
											<select class="selectpicker" >
												<option>Non assigné</option>
												<option>Acquis</option>
												<option>Non acquis</option>
											</select>
										</div>
									</td>
									<td>Etudiant</td>
								</tr>
							</tbody>
						</table>
					</div>
			      </div>
			    </div>
			  </div>
			</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------- -->
	
	</div>

    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="./../jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./../js/bootstrap.min.js"></script>

</body>

</html>
