<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Gestion des grilles</title>
	<link href="https://raw.githack.com/LaetitiaBouvier/Gestion-des-grilles-APP/master/WebContent/View/css/bootstrap.min.css" rel="stylesheet"><script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
	
	<script src="https://raw.githack.com/LaetitiaBouvier/Gestion-des-grilles-APP/master/WebContent/View/js/jquery.jexcel.js"></script>
	<link rel="stylesheet" href="http://cdn.bossanova.uk/css/jquery.jexcel.css" type="text/css" />
</head>

<body>
	<div id="wrapper" class="container">
	
		<div id="page-wrapper" style="min-height: 683px">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Ajout des competences</h1>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						Ajout des competences, sous-competences, points, sous-points
					</div>
					<div class="panel-body">
						<div class="row">
							<div class=".col-md-6 .col-md-offset-3" style="margin-left: 20px; margin-bottom: 30px;">
								<h3><small>Pour ajouter une ligne au tableau, appuyer sur la touche "entrée"</small></h3>
							</div>
							<div class="row">
								<div class="col-md-10" style="margin-left: 50px;">
									<div class="alert alert-success alert-dismissable" style="display:none;">
									    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
							            <strong>Success!</strong> Votre fichier a bien été téléchargé. Veuillez vous rediriger <a href="https://raw.githack.com/LaetitiaBouvier/Gestion-des-grilles-APP/master/WebContent/View/jsp/ImportGrille.jsp"> vers la page d'importation de fichier</a> pour que vous puissiez importer le fichier.
							        </div>
								</div>
							</div>
							<div class="col-md-6 col-md-offset-3" style="margin-left: 150px; margin-bottom: 30px;">
								<div id="my"></div>
							</div>
							<div class="row">
								<div class="col-md-4 col-md-offset-3" style="margin-left: 50px;">
									<p><button class="btn btn-default" id='download'>Exporter en CSV</button></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<script>
$('#my').jexcel({
    csv:'./../csv/import_grille.csv',
    csvHeaders:true,
    colWidths: [120, 120, 80, 170, 150, 100, 100],
});

$('#download').on('click', function () {
    $('#my').jexcel('download');
});

$(document).ready(function(){
    $('button').click(function(){
        $('.alert').show()
    }) 
});
</script>
</html>