<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sous-Groupe Gxx</title>

<link href="../css/sousGroupe.css" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">

</head>
<body>
	<nav class=""></nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="title">Sous-Groupe GXX</h1>
			</div>
		</div>
		<div class="row">
			<a href="grille de compétence de l'éleve"
				class="col-xs-4 col-md-offset-1 col-md-2 picture"> <img
				class="col-xs-12" src="../ressources/nicossister.jpg"
				alt="insert student name"> <span class="col-xs-12">insert
					name</span>
			</a> <a href="grille de compétence de l'éleve"
				class="col-xs-4  col-md-2 picture"> <img class="col-xs-12"
				src="../ressources/nicossister.jpg" alt="insert student name">
				<span class="col-xs-12">Jean jacque Lambert second du puit de
					wozniak</span>
			</a> <a href="grille de compétence de l'éleve"
				class="col-xs-4  col-md-2 picture"> <img class="col-xs-12"
				src="../ressources/nicossister.jpg" alt="insert student name">
				<span class="col-xs-12">insert name</span>
			</a> <a href="grille de compétence de l'éleve"
				class="col-xs-4 col-xs-offset-2 col-md-offset-0  col-md-2 picture">
				<img class="col-xs-12" src="../ressources/nicossister.jpg"
				alt="insert student name"> <span class="col-xs-12">insert
					name</span>
			</a> <a href="grille de compétence de l'éleve"
				class="col-xs-4  col-md-2 picture"> <img class="col-xs-12"
				src="../ressources/nicossister.jpg" alt="insert student name">
				<span class="col-xs-12">insert name</span>
			</a>
		</div>

		<!-- 		<div id="spacer" class="row"></div> -->

		<div id="separated" class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Contact</th>
						<th>Bureau</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Tuteur informatique</th>
						<td>Mark Otto</td>
						<td><a>markotto@isep.fr</a></td>
						<td>L306</td>
					</tr>
					<tr>
						<th scope="row">Tuteur informatique</th>
						<td>Mark Otto</td>
						<td><a>markotto@isep.fr</a></td>
						<td>L306</td>
					</tr>
					<tr>
						<th scope="row">Tuteur informatique</th>
						<td>Mark Otto</td>
						<td><a>markotto@isep.fr</a></td>
						<td>L306</td>
					</tr>
					<tr>
						<th scope="row">Tuteur informatique</th>
						<td>Mark Otto</td>
						<td><a>markotto@isep.fr</a></td>
						<td>L306</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- 	<script type="text/javascript">
		$(document).ready(function() {
			$("#spacer").css("height", $("#separated").height());
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#separated").css("width", $("#spacer").width());
		});
	</script> -->
</body>
</html>