<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    
    <!-- Custom CSS -->
    <link href="./css/sb-admin-2.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="./ressources/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin: 0px; height:0px; padding:0px; min-height:0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a class="navbar-brand" href="index.html">SB Admin v2.0</a> -->
            </div>

            <div class="navbar-default sidebar" role="navigation" style="margin-top: 0px;">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
						<li>
							<a href="http://www.isep.fr/">
								<i class="fa">
									<img src="http://www.isep.fr/parcours/logoISEP.png" class="img-fluid img-responsive" alt="ISEP logo">
								</i>
							</a>
						</li>
						<li><h2 class="text-center">Evaluation de l'APP</h2></li>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------- !-->
						<li>
							<table class="table" style="margin-bottom:0px">
								<tbody>
									<tr>
										<td class="text-center">Nom</td>
										<td class="text-center">Prenom</td>
									</tr>
									<tr>
										<td class="text-center"><button type="button" class="btn btn-primary">déconnexion</button></td>
										<td class="text-center" style="vertical-align:middle;">N°Etudiant</td>
									</tr>
									
								</tbody>
							</table>
						</li>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------------------------- !-->
	                    <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> Vue d'ensemble</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> Communication</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw"></i> Travail en équipe</a>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-fw"></i> Conduite de Projet </a>
                        </li>                                 
						<li>                                  
                            <a href="#"><i class="fa fa-fw"></i> Prossionnel responsable </a>
                        </li>                                 
						<li>                                  
                            <a href="#"><i class="fa fa-fw"></i> Electronique </a>
                        </li>                                 
						<li>                                  
                            <a href="#"><i class="fa fa-fw"></i> Informatique </a>
                        </li>                                 
						<li>          
                            <a href="#"><i class="fa fa-fw"></i> Télécomunications </a>
                        </li>                                 
						<li>                                  
                            <a href="#"><i class="fa fa-fw"></i> Traitement du signal </a>
                        </li>                                 
						<li>                                  
                            <a href="#"><i class="fa fa-fw"></i> Présence </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>



    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="./jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="./js/bootstrap.min.js"></script>

</body>

</html>
